*.b#*
*.s#*
*.l#*
.DS_Store
*.lck
kicad/**/fp-info-cache
kicad/**/*-bak
kicad/**/*-rescue*
kicad/**/fp-lib-table
kicad/**/sym-lib-table
kicad/**/*-B_Cu.*
kicad/**/*-F_Cu.*
kicad/**/*-B_Mask.*
kicad/**/*-B_Paste.*
kicad/**/*-B_SilkS.*
kicad/**/*-F_Paste.*
kicad/**/*-F_Mask.*
kicad/**/*-F_SilkS.*
kicad/**/*-Edge_Cuts.*
eagle/**/*-eagle-import.*
.~lock.*
*-bak
*.ps
bom
*.dxf
*.gbr
*_Silkscreen*
*/build*
