*.b#*
*.s#*
*.l#*
.DS_Store
*.lck
kicad/**/fp-info-cache
kicad/**/*-bak
kicad/**/*-rescue*
kicad/**/*-B_Cu.*
kicad/**/*-F_Cu.*
kicad/**/*-B_Mask.*
kicad/**/*-B_Paste.*
kicad/**/*-B_SilkS.*
kicad/**/*-F_Paste.*
kicad/**/*-F_Mask.*
kicad/**/*-F_SilkS.*
kicad/**/*-Edge_Cuts.*
.~lock.*
*-bak
*.ps
bom/**


